heritage_cpp_files/*
StraightnessScore/SampleData/taper/*.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_1.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_2.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_3.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_4.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_5.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_6.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_7.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_8.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_9.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_10.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_11.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_12.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_13.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_14.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_15.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_16.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_17.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_18.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_19.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_20.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_21.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_22.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_23.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_24.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_25.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_26.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_27.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_28.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_29.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_30.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_31.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_32.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_33.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_34.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_35.csv
StraightnessScore/SampleData/Plot93_FT_output/taper/Plot93_36.csv
StraightnessScore/SampleData/Plot95_FT_output/Plot95_final_cyl_vis.laz
StraightnessScore/SampleData/Plot95_FT_output/Plot95_segmented_raw.laz
StraightnessScore/SampleData/Plot95_FT_output/Plot95_text_point_cloud.laz
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_1.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_2.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_3.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_4.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_5.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_6.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_7.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_8.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_9.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_10.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_11.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_12.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_13.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_14.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_15.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_16.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_17.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_18.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_19.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_20.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_21.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_22.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_23.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_24.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_25.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_26.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_27.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_28.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_29.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_30.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_31.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_32.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_33.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_34.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_35.csv
StraightnessScore/SampleData/Plot95_FT_output/taper/Plot95_36.csv
StraightnessScore/SampleData/Plot93_FT_output/Plot93_final_cyl_vis.laz
StraightnessScore/SampleData/Plot93_FT_output/Plot93_segmented_raw.laz
StraightnessScore/SampleData/Plot93_FT_output/Plot93_text_point_cloud.laz
